<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div><h1>Smith Transportation</h1></div>
        <p>Load assigned to you</p>
        <ul>
            <li>Customer: </li>
            <li>Origin: </li>
            <li>Destination: </li>
            <li>Item 1: </li>
            <li>Item 2: </li>
            <li>Item 3: </li>
        </ul>
        <table style="border: 1px solid #ccc">
            <tr><td>Customer </td></tr>
            <tr><td>Origin: </td></tr>
            <tr><td>Destination: </td></tr>
            <tr><td>Item 1: </td></tr>
            <tr><td>Item 2: </td></tr>
            <tr><td>Item 3: </td></tr>
        </table>
    </body>
</html>
